.Footer {
  border: 1px solid rgba(76, 197, 175, 0.268);
  padding: 20px;
  margin: 40px 0px;
}
.Footer footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Footer footer p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.624);
}
.copy {
  border-top: 1px solid rgba(76, 197, 175, 0.851);
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.624);
}
