<footer>
  <h2>Footer della pagina</h2>
  <div class="lorem">
    <div class="para">
      <p>Lorem</p>
      <p>Lorem</p>
      <p>Lorem</p>
    </div>
    <div class="para">
      <p>Lorem</p>
      <p>Lorem</p>
      <p>Lorem</p>
    </div>
    <div class="para">
      <p>Lorem</p>
      <p>Lorem</p>
      <p>Lorem</p>
    </div>
  </div>
  <p class="end">Esercizio di node js</p>
</footer>